<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../public/styles.css" />
    <title>Timestamp Microservice</title>
    <style>
      h1 {
        background-color: #0a0a23;
        color: white;
        padding: 40px;
        text-align: center;
        font-weight: inherit;
        text-decoration: line-through;
      }

      h1:hover {
        text-decoration: none;
      }

      #container {
        text-align: center;
        font-size: 20px;
      }

      a {
        text-decoration: none;
        color: midnightblue;
      }
    </style>
  </head>
  <body>
    <h1>Timestamp Microservice</h1>
    <div id="container">
      Usage:
      <div>
        <a href="">[my_url]/api/timestamp/2021-03-14</a>
        <br />
        <a href="">[my_url]/api/timestamp/1615680000</a>
      </div>
      <br />
      Output:
      <div>{"unix":1615680000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</div>
      <br /><br />Developed by<br />
      <a href="https://github.com/lucas24d">Lucas Almeida</a>
    </div>
  </body>
</html>
